---
---

@import "{{ site.theme }}";

.navigation {
  position: fixed;
  top: 15px;
  right: 0;
  z-index: 1000;

  display: flex;
}

.navigation a {
  display: block;

  padding: 12px 20px;

  background: #0088ff;
  color: white;

  text-decoration: none;

  border-right: 1px solid #0077dd;

  font-size: 14px;
  font-weight: bold;

  box-shadow: none;
}

.navigation a:hover {
  background: #0077dd;
}