---
---

@import "{{ site.theme }}";

.navigation {
  position: fixed;
  top: 15px;
  right: 20px;
  z-index: 1000;

  display: flex;
}

.navigation a {
  display: block;
  padding: 12px 20px;

  background: #0090ff;
  color: white;

  text-decoration: none;
  font-weight: bold;
  font-size: 14px;

  border-right: 1px solid #0077dd;
}

.navigation a:hover {
  background: #0077dd;
}